{% extends "base.html" %}

{% block content %}
    <div class="post">
    Once again we are extending base.html. In the content block we want to display a post's published_date (if it exists), title and text. But we should discuss some important things, right?
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
                
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock %}